*{
    margin: 0;
    padding: 0;
}

body{
    background: 
        linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.116)),
        url(../image/bgDark.png);
    background-size: 1920px 1080px;
}